@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
/* -- Este código é protegido pelos direitos altorais, não deve ser usado e nem copiado 
sem a altorização do altor.-- */


:root {
    --letra: 'Montserrat', Arial, Helvetica, sans-serif;
    --cor1: rgb(134, 248, 33);
    --fundoicon: rgb(46, 162, 0);
    --fundo: rgb(28, 28, 28);
}

html {
    font-size: 1.2vw;
    margin-top: 0;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: white;
    padding-top: 2rem;
}h1 {
    font-size: 4rem;
    font-family: var(--letra), Arial, Helvetica, sans-serif;
    letter-spacing: 0.4rem;
    color: var(--cor1);
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
}section {
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 2rem;
} a {
    transition: 0.3s;
    text-decoration: none;
    color: white;
}
a:hover {
    transform: scale(1.05);
}.body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}.img-abertura {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    animation: sca 3s linear forwards;
    img {
        width: 100%;
        border-radius: 50%;
    }
}.img-abertura::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    background: linear-gradient(to bottom, var(--cor1), var(--fundo), var(--fundo), var(--cor1));
    border-radius: 50%;
    animation: giro 3s linear;
}@keyframes giro {
    to {
        transform: rotate(720deg);
    }
}@keyframes sca {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.5);
    }100% {
        transform: scale(1.5);
    }
}


#inicio {
    display: grid;
    grid-template-columns: 67.5% 27.5%;
    gap: 5%;
    img {
        border: 0.4rem solid var(--cor1);
        width: 100%;
        border-radius: 50%;
    }
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}.redes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2rem;
    a {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-transform: uppercase;
        border: 0.2rem solid var(--cor1);
        padding: 1rem;
        border-radius: 0.5rem;

    }
    i {
        font-size: 1.4rem;
        color: var(--cor1);
    }
}#links {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2rem solid var(--cor1);
        padding: 1rem 0;
        border-radius: 1rem;
    }
}#destaques {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        border-radius: 1rem;
        i {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
}.dif {
    background-color: var(--fundo);
    border: 0.2rem solid var(--cor1);
    transform: scale(1.06);
    i {
        background-color: var(--cor1);
        color: var(--fundo);
    }
}.nor {
    background-color: var(--fundoicon);
    i {
        background-color: var(--fundo);
        color: var(--cor1);
    }
}.titulo {
    font-family: var(--letra);
    text-align: center;
    color: var(--cor1);
    text-transform: uppercase;
}





#momentos {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    overflow-x: scroll;
    margin: 2rem auto;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 3rem;
    scrollbar-width: none;
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        padding: 0.5rem;
        width: 30%;
        height: 100%;
        background-color: var(--fundo);
        position: relative;
        border: 0.2rem solid var(--cor1);
        border-radius: 1rem;
        flex: none;
        h3 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            padding: 0.5rem;
            background-color: var(--fundo);
            color: white;
            border: 0.2rem solid var(--cor1);
            z-index: 10000;
            font-size: 1.6rem;
            text-align: center;
            border-radius: 0.5rem;
        }
        img {
            width: 100%;
            height: 25rem;
            border-radius: 0.5rem;
            object-fit: cover;
            border: 0.2rem solid var(--cor1);
        }
    }
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2rem;
    background-color: var(--cor1);
    margin-top: 2rem;
}



/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
html { 
    font-size: 1.9vw;
}
section {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 0;
}a:hover {
    transform: scale(1.0);
}.img-abertura {
    width: 20rem;
    height: 20rem;
}
#inicio {
    grid-template-columns: auto;
    gap: 3rem;
    img {
        width: 80%;
        order: 1;
        margin: 0 auto;
    }
}
.texto {
    gap: 1.5rem;
    order: 2;
}.redes {
    width: 100%;
    gap: 1rem;
}#links {
    gap: 1rem;
    margin: 0;
    a {
        padding: 1rem;
    }
}#destaques {
    grid-template-columns: auto;
    gap: 2rem;
    div {
        gap: 1rem;
        i {
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
        }
    }
}.dif {
    transform: scale(1.05);
}#momentos {
    gap: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 3rem;
    div {
        width: 50%;
        img {
            height: 30rem;
        }
    }
}
}




@media (max-width: 767px) {
html {
    font-size: 2.7vw;
}
section {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0;
}a:hover {
    transform: scale(1.0);
}.img-abertura {
    width: 15rem;
    height: 15rem;
}
#inicio {
    grid-template-columns: auto;
    gap: 1.5rem;
    img {
        width: 80%;
        margin: 0 auto;
        order: 1;
    }
}
.texto {
    gap: 1rem;
    order: 2;
}.redes {
    grid-template-columns: auto;
    gap: 1rem;
}#links {
    grid-template-columns: auto;
    gap: 1.5rem;
}#destaques {
    grid-template-columns: auto;
}
#momentos {
    margin-left: 4rem;
    margin-right: 4rem;
    div {
        width: 60%;
    }
}
}



























